<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Responsive HTML5 Template">
    <meta name="author" content="author.com">
    <title>Responsive HTML5 Template</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="../fonts/icons/main/mainfont/style.css">
    <link rel="stylesheet" href="../fonts/icons/font-awesome/css/font-awesome.min.css">

    <!-- Vendor -->
    <link rel="stylesheet" href="../vendor/bootstrap/v3/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap/v4/bootstrap-grid.css">
    <!-- Custom -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body id="content">
    <!-- HEADER -->
        <header>

        <EMBED src="../Exogenesis Symphony Part 3 Redemption-Muse.mp3" loop=infinite width=0 height=0>
        <div class="header js-header js-dropdown">
            <div class="container">
                <div class="header__logo">
                    <h1>
                        <img src="../fonts/icons/main/RNG.png" alt="logo">
                    </h1>
                    <div class="header__logo-btn" data-dropdown-btn="logo">
                        RNG<i class="icon-Arrow_Below"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="logo">
                        <ul class="dropdown__catalog">
                            <li><a href="index.html">首页</a></li>
                            <li><a href="create-topic.html">发帖</a></li>
                            <li><a href="login.html">退出登录</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__search">
                    <form action="#">
                        <label>
                            <i class="icon-Search js-header-search-btn-open"></i>
                            <input type="search" placeholder="搜索整个论坛" class="form-control">
                        </label>
                    </form>
                    <div class="header__search-close js-header-search-btn-close"><i class="icon-Cancel"></i>
                    </div>
                    <div class="header__search-btn" data-dropdown-btn="search">
                        <i class="icon-Arrow_Below"></i>
                    </div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="search">
                        <ul>
                            <li>
                                <label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" checked="checked">
                                        <i></i>
                                    </label>只搜索标题
                                </label>

                            </li>
                            <li>
                                <label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <i></i>
                                    </label>只搜索内容
                                </label>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-Advanced_Search"></i>更多搜索
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__menu">
                    <div class="header__menu-btn" data-dropdown-btn="menu">
                        更多<i class="icon-Menu_Icon"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="menu">
                        <div>
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="#">新消息</a></li>
                                <li class="col-xs-6"><a href="#">未读</a></li>
                                <li class="col-xs-6"><a href="#">小组</a></li>
                                <li class="col-xs-6"><a href="#">用户</a></li>
                                <li class="col-xs-6"><a href="#">标签</a></li>
                                <li class="col-xs-6"><a href="#">快捷方式</a></li>
                            </ul>
                        </div>
                        <div>
                            <h3>Categories</h3>
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-f9bc64"></i>兴趣</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-348aa7"></i>社会</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-4436f8"></i>视频</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-5dd39e"></i>随便</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-ff755a"></i>艺术</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-bce784"></i>技术</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-83253f"></i>游戏</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-c49bbb"></i>科学</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-3ebafa"></i>经验</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-c6b38e"></i>宠物</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-a7cdbd"></i>娱乐</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-525252"></i>教育</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-777da7"></i>求助</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-368f8b"></i>法律法规</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="header__notification">
                    <div class="header__notification-btn" data-dropdown-btn="notification">
                        <i class="icon-Notification"></i>
                        <span>6</span>
                    </div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="notification">
                        <div>
                            <a href="#">
                                <i class="icon-Favorite_Topic"></i>
                                <p>Roswell . 16 feb, 17<span>Which movie have you watched recently?</span></p>
                            </a>
                            <a href="#">
                                <i class="icon-Reply_Empty"></i>
                                <p>Callis . 18 feb, 17<span>I got an amzon thingie!</span></p>
                            </a>
                            <a href="#">
                                <i class="icon-Badge"></i>
                                <p>Earned Badge . 19 feb, 17<span><img src="../fonts/icons/badges/Lets_talk.svg" alt="Lets Talk">Lets Talk</span></p>
                            </a>
                            <a href="#">
                                <i class="icon-Badge"></i>
                                <p>Earned Badge . 21 feb, 17<span><img src="../fonts/icons/badges/Intermediate.svg" alt="Intermediate">Intermediate</span></p>
                            </a>
                            <a href="#">
                                <i class="icon-Share_Topic"></i>
                                <p>Charlie . 22 feb, 17<span>Need Video file of that cat.</span></p>
                            </a>
                            <a href="#">
                                <i class="icon-Pencil"></i>
                                <p>Greentea . 22 feb, 17<span>New Facebook like and share button.</span></p>
                            </a>
                            <span><a href="#">view older notifications...</a></span>
                        </div>
                    </div>
                </div>
                <div class="header__user">
                    <div class="header__user-btn" data-dropdown-btn="user" v-if="notLogin ===true">
                        <img class="img-circle img-responsive avatar" src="{{ avatar }}" alt="avatar">
                        <p id="nickname">{{ user }}</p>
                        <i class="icon-Arrow_Below"></i>
                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="user">
                        <div>
                            <div class="dropdown__icons">
                                <a href=""><i class="icon-Bookmark"></i></a>
                                <a href="#"><i class="icon-Message"></i></a>
                                <a href="#"><i class="icon-Preferences"></i></a>
                                <a href="login.html"><i class="icon-Logout"></i></a>
                            </div>
                        </div>
                        <div>
                            <ul class="dropdown__catalog">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Badges</a></li>
                                <li><a href="#">My Groups</a></li>
                                <li><a href="#">Notifications</a></li>
                                <li><a href="#">Topics</a></li>
                                <li><a href="#">Likes</a></li>
                                <li><a href="#">Solved</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="header__offset-btn">
                <a href="create-topic.html"><img src="../fonts/icons/main/New_Topic.svg" alt="New Topic"></a>
            </div>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <div class="container">
            <div class="nav">
                <div class="nav__categories js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="categories">All Categories</div>
                        <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-f9bc64"></i>Hobbies</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-348aa7"></i>Social</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-4436f8"></i>Video</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-5dd39e"></i>Random</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-ff755a"></i>Arts</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-bce784"></i>Tech</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-83253f"></i>Gaming</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-c49bbb"></i>Science</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-3ebafa"></i>Exchange</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-c6b38e"></i>Pets</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-a7cdbd"></i>Entertainment</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-525252"></i>Education</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-777da7"></i>Q&amp;As</a></li>
                                <li class="col-xs-6"><a href="#" class="category"><i class="bg-368f8b"></i>Politics</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="tags">Tags</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                            <div class="tags">
                                <a href="#" class="bg-4f80b0">gaming</a>
                                <a href="#" class="bg-424ee8">nature</a>
                                <a href="#" class="bg-36b7d7">entertainment</a>
                                <a href="#" class="bg-ef429e">selfie</a>
                                <a href="#" class="bg-7cc576">camera</a>
                                <a href="#" class="bg-3a3a17">username</a>
                                <a href="#" class="bg-6f7e9c">funny</a>
                                <a href="#" class="bg-f26522">photography</a>
                                <a href="#" class="bg-a3d39c">climbing</a>
                                <a href="#" class="bg-92278f">adventure</a>
                                <a href="#" class="bg-8781bd">dreams</a>
                                <a href="#" class="bg-f1ab32">life</a>
                                <a href="#" class="bg-3b96ca">reason</a>
                                <a href="#" class="bg-348aa7">social</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__menu js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="menu">Latest</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                            <ul class="dropdown__catalog">
                                <li><a href="#">Latest</a></li>
                                <li><a href="#">Unread</a></li>
                                <li><a href="#">Rising</a></li>
                                <li><a href="#">Most Liked</a></li>
                                <li><a href="#">Follow Feed</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li class="active"><a href="#">Latest</a></li>
                        <li><a href="#">Unread</a></li>
                        <li><a href="#">Rising</a></li>
                        <li><a href="#">Most Liked</a></li>
                        <li><a href="#">Follow Feed</a></li>
                    </ul>
                </div>
                <div class="nav__thread">
                    <p>Thread Navigation:</p>
                    <a href="#" class="nav__thread-btn nav__thread-btn--prev"><i class="icon-Arrow_Left"></i>Previous</a>
                    <a href="#" class="nav__thread-btn nav__thread-btn--next">Next<i class="icon-Arrow_Right"></i></a>
                </div>
            </div>
            <div class="topics">
                <div class="topics__heading">
                    <h2 class="topics__heading-title">{{thisPost.title}}</h2>
                    <div class="topics__heading-info">
                        <a href="#" class="category"><i class="bg-3ebafa"></i> Exchange</a>
                        <div class="tags">
                            <a href="#" class="bg-4f80b0">gaming</a>
                            <a href="#" class="bg-424ee8">nature</a>
                            <a href="#" class="bg-36b7d7">entertainment</a>
                       </div>
                    </div>
                </div>
                <div class="topics__body">
                    <div class="topics__content">
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                    <a href="#" class="avatar"><img class="img-responsive img-circle avatar" src="{{thisPost.avatar}}" alt="avatar"></a>
                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#">{{thisPost.author}}</a>
                                    </div>
                                    <div class="topic__date"><i class="icon-Watch_Later"></i>{{thisPost.cr_date}}</div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text" v-html="thisPost.content">

                                </div>
                                <div class="topic__footer">
                                    <div class="topic__footer-likes">
                                        <div>
                                            <a href="#"><i class="icon-Upvote"></i></a>
                                            <span>{{thisPost.like_count}}</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Downvote"></i></a>
                                            <span>0</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                            <span>{{thisPost.like_count}}</span>
                                        </div>
                                    </div>
                                    <div class="topic__footer-share">
                                        <div data-visible="desktop">
                                            <a href="#"><i class="icon-Share_Topic"></i></a>
                                            <a href="#"><i class="icon-Flag_Topic"></i></a>
                                            <a href="#"><i class="icon-Bookmark"></i></a>
                                        </div>
                                        <div data-visible="mobile">
                                            <a href="#"><i class="icon-More_Options"></i></a>
                                        </div>
                                        <a @click="showReply"><i class="icon-Reply_Fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="reply_box" style="display: none">
                            <textarea class="form-control" v-model="commentContent" style="height: 150px;resize: none;" ></textarea>
                                <div class="faceDiv"> </div>
                                <div class="Input_Foot">
                                    <a class="imgBtn" href="javascript:void(0);"></a>
                                    <a class="btn btn--type-03 pull-right" @click="addComment" >确定</a>
                                </div>
                        </div>

                        <div class="topic">
                            <div class="topic__content">
                                <div class="topic__info">
                                    <div class="topic__info-section">
                                        <div>
                                            <span class="topic__info-title">Created</span>
                                            <div  class="topic__info-avatar">
                                                <a href="#"><img class="img-responsive img-circle avatar_small" src="{{postDeepInfo.create_user.avatar}}" alt="avatar">    </a>
                                                <span>{{postDeepInfo.create_user.created_date}}d</span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Last reply</span>
                                            <div  class="topic__info-avatar">
                                                <a href="#" ><img class="img-responsive img-circle avatar_small" src="{{postDeepInfo.post_info.last_reply_user_avatar}}" alt="avatar"></a>
                                                <span>{{ postDeepInfo.post_info.last_reply_time }}h</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="topic__info-section">
                                        <div>
                                            <span class="topic__info-title">Reply num</span>
                                            <div  class="topic__info-count">{{ postDeepInfo.post_info.reply_num }}</div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Views</span>
                                            <div  class="topic__info-count">{{ postDeepInfo.post_info.view_num }}</div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Users</span>
                                            <div  class="topic__info-count">{{ postDeepInfo.post_info.join_user_num }}</div>
                                        </div>
                                        <div>
                                            <span class="topic__info-title">Likes</span>
                                            <div  class="topic__info-count">{{ postDeepInfo.post_info.like_num }}</div>
                                        </div>

                                    </div>
                                    <a href="#" class="topic__info-more"><i class="icon-Arrow_Down"></i></a>
                                </div>
                                <div class="topic__title">
                                    <p>经常交流</p>
                                </div>
                                <div class="topic__posters">
                                    <a href="#" class="avatar"><img src="../fonts/icons/avatars/C.svg" alt="avatar"><span>10</span></a>
                                    <a href="#" class="avatar"><img src="../fonts/icons/avatars/U.svg" alt="avatar"><span>5</span></a>
                                    <a href="#" class="avatar"><img src="../fonts/icons/avatars/I.svg" alt="avatar"><span>12</span></a>
                                    <a href="#" class="avatar"><img src="fonts/icons/avatars/K.svg" alt="avatar"></a>
                                    <a href="#" class="avatar"><img src="fonts/icons/avatars/N.svg" alt="avatar"></a>
                                    <a href="#" class="avatar"><img src="fonts/icons/avatars/T.svg" alt="avatar"></a>
                                    <a href="#" class="avatar"><img src="fonts/icons/avatars/K.svg" alt="avatar"></a>
                                    <a href="#" class="avatar"><img src="fonts/icons/avatars/L.svg" alt="avatar"></a>
                                    <a href="#" class="avatar"><img src="fonts/icons/avatars/R.svg" alt="avatar"></a>
                                </div>
                                <div class="topic__title">
                                    <p>Popular Links</p>
                                </div>
                                <div class="topic__list">
                                    <ul>
                                        <li><span>12</span><a href="#">Deepest and darkest secrets. <span>imgur.com</span></a></li>
                                        <li><span>1</span><a href="#">Help Center. <span>techlabs.net</span></a></li>
                                        <li><span>7</span><a href="#">Best 20 youtube videos. <span>youtube.com</span></a></li>
                                        <li><span>19</span><a href="#">Bootstrap 4, things you need to know.</a></li>
                                        <li><span>3</span><a href="#">Best Simpson jokes.</a></li>
                                    </ul>
                                </div>
                                <div class="topic__title">
                                    <p>There are <span>81 replies</span> with an estimated read time of <span>11 minutes.</span></p>
                                </div>
                                <div class="topic__btns">
                                    <a href="#" class="btn btn--type-02">Summarize <span data-visible="desktop">This</span>Topic</a>
                                    <div class="topic__select">
                                        <p>Sort replies by:</p>
                                        <div class="btn-select"><i class="icon-Favorite_Topic"></i>Most Liked</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <template v-for="comment in commentList">
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                    <a href="#" class="avatar"><img class="img-circle img-responsive avatar" src="{{comment.comment_user_avatar}}" alt="avatar"></a>
                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#">{{comment.comment_user_name}}</a>
                                    </div>
                                    <div class="topic__date"><i class="icon-Watch_Later"></i>{{comment.add_time}}</div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                    <p id="{{comment.id}}">
                                        {{comment.content}}
                                    </p>
                                </div>
                                <div class="topic__footer">
                                    <div class="topic__footer-likes">
                                        <div>
                                            <a href="#"><i class="icon-Upvote"></i></a>
                                            <span>71</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Downvote"></i></a>
                                            <span>06</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                            <span>42</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Reply_Empty"></i></a>
                                            <span>01</span>
                                        </div>
                                    </div>
                                    <div class="topic__footer-share">
                                        <div data-visible="desktop">
                                            <a href="#"><i class="icon-Share_Topic"></i></a>
                                            <a href="#"><i class="icon-Flag_Topic"></i></a>
                                            <a href="#"><i class="icon-Already_Bookmarked"></i></a>
                                        </div>
                                        <div data-visible="mobile">
                                            <a href="#"><i class="icon-More_Options"></i></a>
                                        </div>
                                        <a href="#"><i class="icon-Reply_Fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </template>

                    </div>
                    <div class="topics__calendar">
                        <div class="calendar">
                            <div class="calendar__top">
                                <a href="#" class="calendar__btn calendar__btn--c-01"><i class="icon-Calender"></i></a>
                            </div>
                            <div class="calendar__center">
                                <div class="calendar__first">Jun 12</div>
                                <div class="calendar__range">
                                    <div class="calendar__current">
                                        <p>31 / 75</p>
                                        <span>Jun 17</span>
                                    </div>
                                </div>
                                <div class="calendar__last">6h ago</div>
                            </div>
                            <div class="calendar__bottom">
                                <a href="#" class="calendar__btn calendar__btn--c-01"><i class="icon-Track"></i></a>
                                <a href="#" class="calendar__btn calendar__btn--c-02"><i class="icon-Reply_Fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topics__title"><i class="icon-Watch_Later"></i>该贴将在六个月内无回复时关闭</div>
                <div class="topics__control">
                    <a href="#" class="btn"><i class="icon-Bookmark"></i>Bookmark</a>
                    <a href="#" class="btn"><i class="icon-Share_Topic"></i>Share</a>
                    <a href="#" class="btn"><i class="icon-Flag_Topic"></i>Flag</a>
                    <a href="#" class="btn"><i class="icon-Add_User"></i>Invite</a>
                    <a href="#" class="btn"><i class="icon-Track"></i>Track</a>
                    <a href="#" class="btn btn--type-02" data-visible="desktop"><i class="icon-Reply_Fill"></i>Reply</a>
                </div>
                <div class="topics__title">Suggested Topics</div>
            </div>
            <div class="posts" data-visible="desktop">
                <div class="posts__head">
                    <div class="posts__topic">主题</div>
                    <div class="posts__category">分类</div>
                    <div class="posts__users">发帖人</div>
                    <div class="posts__replies">回复数</div>
                    <div class="posts__views">浏览数</div>
                    <div class="posts__activity">发帖时间</div>
                </div>
                <div class="posts__body">
                    <template v-for="post in postHot">
                    <div class="posts__item">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="single-topic.html?id={{post.id}}">
                                        <h3>{{ post.title }}</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="posts__category"><a href="#" class="category"><i class="bg-ff755a"></i> Arts</a></div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__users">
                                <div>
                                    <a href="#"><img class="img-circle img-responsive avatar" src="{{post.avatar}}" title=" {{ post.author }}"></a>
                                </div>
                            </div>
                            <div class="posts__replies">{{ post.reply_num }}</div>
                            <div class="posts__views">{{ post.page_views }}</div>
                            <div class="posts__activity">{{ post.create_date }}</div>
                        </div>
                    </div>
					</template>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer js-dropdown">
            <div class="container">
                <div class="footer__logo">
                    <div>
                        <img src="../fonts/icons/main/Logo_Forum.svg" alt="logo">Unity
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__tline">
                        <i class="icon-Support"></i>
                        <ul class="footer__menu">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">The Team</a></li>
                        </ul>
                        <div class="footer__language">
                            <div class="footer__language-btn" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div>
                            <div class="footer__language-dropdown dropdown dropdown--design-01 dropdown--reverse-y" data-dropdown-list="language">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h3>Region</h3>
                                        <ul class="dropdown__catalog">
                                            <li class="active"><a href="#"><i></i>America</a></li>
                                            <li><a href="#"><i></i>Europe</a></li>
                                            <li><a href="#"><i></i>Asia</a></li>
                                            <li><a href="#"><i></i>China</a></li>
                                            <li><a href="#"><i></i>Australia</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6">
                                        <h3>Language</h3>
                                        <ul class="dropdown__catalog">
                                            <li class="active"><a href="#"><i></i>English</a></li>
                                            <li><a href="#"><i></i>Espanol</a></li>
                                            <li><a href="#"><i></i>Portugues</a></li>
                                            <li><a href="#"><i></i>Chinese</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__bline">
                        <ul class="footer__menu">
                            <li class="footer__copyright"><span>&copy; 2019 rngclub.com</span></li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Send Feedback</a></li>
                        </ul>
                        <ul class="footer__social">
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="footer__language-btn-m" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JAVA SCRIPT -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/velocity/velocity.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/vuex.js"></script>
    <script src="../js/vue-cookies.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/axios.js" ></script>
    <script src="../js/topic.js"></script>
    <script src="../js/user.js"></script>
    <script src="../js/dynamic2.js"></script>
</body>
</html>